<div class="score-container">

  <h1>Result</h1>

    <div class="answer">
      <p><%= @answer %></p>
    </div>

  <div class="backbtn">
      <%= link_to "Play Again", ask_path %>
    </div>

</div>
