// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-container{
  margin: 0px 10px;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Abel', sans-serif;
}

.letters {
  display: flex;
  justify-content: space-around;
  margin-right: 400px;
}

.letter-box {
    border: 1px solid #e8e8e8;
    box-shadow: 5px 5px 20px 0px #77777726;
    background-color:  #5cc9f5;
    text-align: center;
    height: 50px;
    width: 50px;
}


.search-text {
  font-size: 12px;
}

.search-box {
  border-radius: 3px;
  border: 0.5px solid #e8e8e8;
  height: 30px;
  width: 250px;
}

.submit-btn {
  background-color: #b0f566 ;
  color: black;
  border-radius: 3px;
  border: 0.5px solid #e8e8e8;
  height: 33px;
  width: 50px;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}


